header {
    background-color: #64a07bff;
}

#produtos {
    background-color: #6474a0;
    height: 300px;
}

#parceiros {
    background-color: #b969b3;
    height: 300px;
}

#historia {
    background-color: #64a098;
    height: 300px;
}

#cadastro {
    background-color: #6db1b9;
    height: 300px;
}