*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

header {
    background-color: #52c4d8;
}

footer {
    height: auto;
    background-color: beige;
}

#brasil {
    background-color: #6474a0;
    height: auto;
    padding: 30px;
}

#eua {
    background-color: #b969b3;
    height: auto;
    padding: 30px;
}

#italia {
    background-color: #64a098;
    height: auto;
    padding: 30px;
}

#china {
    background-color: #6db1b9;
    height: auto;
    padding: 30px;
}

#produtos {
    background-color: #b969b3;
    height: auto;
    padding: 30px;
}

.logotipo{
    height: 300px;
    width: 350px;
}

.menu{
    background-color: beige;
    padding: 15px;
}

.menu a{
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    transition: 0.3s ease;
    padding: 5px;
}

.menu a:hover{
    color: beige;
    text-decoration: underline;
    background-color: #4161b9;
    border-radius: 3px;
}

.menu li{
    display: inline;
    padding: 15px;
}

.texto_1{
    background-color: beige;
    margin: 0 400px 0 400px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    transform: scale(1);
    transition: 0.3s ease;
}

.texto_1:hover{
    background-color: #e6e6c1;
    transition: 0.5s ease;
    transform: scale(1.05);
}

.texto_1 p{
    /* border: solid #771480; */
    text-align: justify;
    margin-top: 20px;
}

.fotocopia {
    height: 300px;
    width: 300px;
    padding-top: 30px;
}

.rodape {
    height: 150px;
    width: 500px;
    padding: 15px;
}

.card {
    border: solid 2px red;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

.imagemcard {
    width: 280px;
}

.produtinho {
    color: black;
    font-size: medium;
    font-weight: bold; 
}

.preco {
    color: black;
    font-size: larger;
    font-weight: bold;
}